<a href="https://colab.research.google.com/github/saulorcj/tarefas-analytica/blob/master/A2/tratamento_dados_finbra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files

In [ ]:
arquivo_csv = files.upload()

Saving finbra_2021_tratado.csv to finbra_2021_tratado.csv

In [ ]:
df1 = pd.read_csv("finbra_2021_tratado.csv")

In [ ]:
new_df1 = df1[(df1["Conta"] == "26 - Transporte") & (df1["Coluna"] == "Despesas Pagas")][["Cod_municipio", "UF", "Valor"]]

In [ ]:
new_df1.head()

     Cod_municipio  UF       Valor
137      4309902.0  RS   3766701.0
378      4308201.0  RS  16815173.0
578      4211652.0  SC   1835225.0
730      4315156.0  RS   3025385.0
965      4314001.0  RS   2612626.0

In [ ]:
# HashMap de estados por regi√£o
regioes = {"Norte": {"PA", "RR", "AP", "AM", "TO", "RO", "AC", "MA"},
           "Nordeste": {"SE", "CE", "PB", "AL", "RN", "PE", "BA", "PI"},
           "Sudeste": {"MG", "RJ", "SP", "ES"},
           "Centro-Oeste": {"DF", "MS", "MT", "GO"},
           "Sul": {"PR", "SC", "RS"}}

In [ ]:
lista_medias = []
for regiao in regioes:
  media = int(new_df1[new_df1["UF"].isin(regioes[regiao])]["Valor"].mean())
  lista_medias.append(media)

df1_medias = pd.DataFrame(lista_medias, index=regioes, columns=["media"]).sort_values(by="media", ascending=False)

In [ ]:
df1_medias

                media
Sudeste       6844551
Centro-Oeste  3880576
Norte         3302650
Sul           3201229
Nordeste      1122277

In [ ]:
arquivo_csv_2 = files.upload()

Saving finbra_2013_tratado.csv to finbra_2013_tratado.csv

In [ ]:
df2 = pd.read_csv("finbra_2013_tratado.csv")

In [ ]:
new_df2 = df2[(df2["Conta"] == "26 - Transporte") & (df2["Coluna"] == "Despesas Pagas")][["Cod_municipio", "UF", "Valor"]]

In [ ]:
new_df2.head()

     Cod_municipio  UF      Valor
98       4126652.0  PR  1583648.0
259      4206652.0  SC  1582579.0
457      4310405.0  RS   413069.0
625      4322533.0  RS  1378911.0
866      4318705.0  RS   774243.0

In [ ]:
lista_medias = []
for regiao in regioes:
  media = int(new_df2[new_df2["UF"].isin(regioes[regiao])]["Valor"].mean())
  lista_medias.append(media)

df2_medias = pd.DataFrame(lista_medias, index=regioes, columns=["media"]).sort_values(by="media", ascending=False)

In [ ]:
df2_medias

                media
Sudeste       3644537
Centro-Oeste  1835748
Sul           1639701
Norte         1339501
Nordeste       469182

In [ ]:
((df1_medias - df2_medias) / df1_medias).sort_values(by="media", ascending=False)

                 media
Norte         0.594416
Nordeste      0.581937
Centro-Oeste  0.526939
Sul           0.487790
Sudeste       0.467527

In [ ]:
df_valor_mun1 = pd.DataFrame(new_df1["Valor"].values, index=new_df1["Cod_municipio"].values, columns=["Valor"]).sort_values(by="Valor", ascending=False)

In [ ]:
df_valor_mun1

                  Valor
3550308.0  5.324270e+09
1302603.0  2.895827e+08
5208707.0  2.809563e+08
3304557.0  2.799514e+08
2927408.0  2.484186e+08
...                 ...
2911006.0  7.100000e+01
2911501.0  5.100000e+01
2922656.0  2.300000e+01
5218789.0  1.000000e+01
4126009.0  5.000000e+00

[4109 rows x 1 columns]

In [ ]:
df_valor_mun2 = pd.DataFrame(new_df2["Valor"].values, index=new_df2["Cod_municipio"].values, columns=["Valor"]).sort_values(by="Valor", ascending=False)

In [ ]:
df_valor_mun2

                  Valor
3550308.0  2.550654e+09
3106200.0  3.453025e+08
3304557.0  2.220766e+08
3548708.0  2.052564e+08
5002704.0  1.696908e+08
...                 ...
2919926.0  1.500000e+01
3500600.0  8.000000e+00
2912608.0  6.000000e+00
4203253.0  5.000000e+00
2508505.0  0.000000e+00

[4319 rows x 1 columns]

In [ ]:
(df_valor_mun1 - df_valor_mun2).sort_values(by="Valor", ascending=False)

                  Valor
3550308.0  2.773616e+09
5208707.0  2.150524e+08
2927408.0  1.524320e+08
3509502.0  1.408781e+08
3549904.0  1.337064e+08
...                 ...
5220504.0           NaN
5220686.0           NaN
5221403.0           NaN
5221452.0           NaN
5221577.0           NaN

[4844 rows x 1 columns]

In [ ]:
new_df1[new_df1["Cod_municipio"] == 2915403]

        Cod_municipio  UF      Valor
860008      2915403.0  BA  1390394.0

In [ ]:
new_df2[new_df2["Cod_municipio"] == 2915403]

        Cod_municipio  UF  Valor
598619      2915403.0  BA  752.0